version: "3.8"
services:
  db:
    image: postgres:16
    container_name: fc_postgres
    environment:
      POSTGRES_USER: fc_user
      POSTGRES_PASSWORD: fc_pass
      POSTGRES_DB: foodcourt
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U fc_user -d foodcourt"]
      interval: 5s
      timeout: 5s
      retries: 10
volumes:
  pgdata:
